footer {
    width:100%;
    height:100px;
    background-color: #000;
    .footerContent {
    width:43%;
    height:100%;
    margin:auto;
    align-items: center;
    span {
        display:block;
        color:#cdcccc;
    }
    .footerItem {
        width:30%;
    } 
    .address span {
        font-size:7px;
    }
        .address span:first-child {
            font-size:9px;
            font-weight: bold;
            color:#fff;
        }
       
    .logo {
        display:flex;
        justify-content: space-around;
        align-items: center;
        .social {
            width: 22px;
            height:22px;
            background-color:#fff;
            color:#000;
        }
        .logoText {
            width:36px;
            height:36px;
            background-color: #fff;
            font-size: 7px;
            color: #2cabe3;
            font-weight: bold;
            text-align:center;
        }
    }
    .copyright span {
        text-transform: uppercase;
        font-size:7px;
    }
    .flexCenter {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
}