.hiddenNav {
    display:none;
}
.leftNav {
    width:33%;
    opacity:1;
    height: calc(100% - 180px);
    position:absolute;
    left:0;
    top:0;
    background-color: #000000;
    border-bottom:1px solid #cdcccc;
    display:flex;
    justify-content: flex-end;

    .leftNavContent {
        width:42%;
        .backMenu {
            height: 178px;
            text-align:right;
            padding:30px 10px 0 0;
            #backArrow {
                border:none;
                background:none;
            }
            
            .fa-long-arrow-alt-left {
                color:#fff;
            }
            
        }
        #dropdown {
            background:none;
            outline:none;
            border:none;
            color:#fff;
        }
        .dropdownContent {
            display:none;
        }
        .leftNavItem {
            width:100%;
            display:block;
            color:#fff;
            text-align: left;
            line-height: 60px;
            font-size: 24px;
            font-family: "DejaVu Sans";
            font-weight: 400;
            text-transform: capitalize;
            border-bottom:1px solid #cdcccc;
            .leftNavSubitem {
                font-size:18px;
                line-height:30px;
                width:100%;
                color:#fff;
                display:block;
            }
        }
        .bigNav {
            height:205px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            
        }
        
        
    }
    // .shownNav {
    //     @extend .leftNav;
    //     width: 36%;
    //     opacity:1;
    //     transition: width .75s ease;
 
    // }
    // .leftNavContent div:nth-child(2) {
    //     height: 205px;
    // }
}
