.hiddenNav {
    display:none;
}
.leftNav {
    width: calc((100% - 1150px)/2 + 1150px*4/15 - 15px;
    left: calc(0px - ((100% - 1150px)/2 + 1150px*4/15 - 15px));
    top: 0;
    opacity:1;
    height: 100%;
    position:fixed;
    background-color: #000000;
    border-bottom:1px solid #cdcccc;
    display:flex;
    justify-content: flex-end;
    z-index: 999;
    transition: all .25s linear;
    overflow-y: auto;
    .leftMenu{
        list-style-type: none;
        padding-left: 0;
        margin-top: -5px;
    }


    @media screen and (max-width: 1024px) {
        width: 250px;
        left: -250px;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
        left: -100%;
        background-color: #231f20;
        z-index: 1002;
    }
}


.leftNavContent {
    width:42%;
    min-width: 210px;
    position: relative;
    z-index: 9;
    .backMenu {
        height: 98px;
        text-align:right;
        padding:30px 10px 0 0;
        .backArrow {
            border:none;
            background:none;
            cursor: pointer;
        }
        
        img{
            width: 26px;
        }
        @media screen and (max-width: 480px) {
            height: 75px;
        }
    }
    .subMenu{
        padding-left: 0;
        list-style-type: none;
        max-height: 0;
        overflow: hidden;
        padding-bottom: 0;
        transition: all .35s linear;
    }
    .openSubmenu + .subMenu{
        max-height: 180px;
        padding-bottom: 20px;
    }
    .dropdownContent {
        display:none;
    }
    .leftMenuItem{
        border-bottom: 1px solid #cdcccc;
        &.topButtons{
            display: none;
            border-bottom: none;
        }
    }
    .leftMenuItemLink {
        width: 100%;
        display: block;
        color:#fff;
        text-align: left;
        line-height: 60px;
        font-size: 26px;
        text-transform: capitalize;
        font-weight: 600;
        transition: all .25s linear;
        &:hover{
            color: #ef493b;
        }
    }
    .subMenuItem{
        &.active{
            .subMenuItemLink{
                color: #ef493b;
            }
        }
    }
    .subMenuItemLink {
        font-size: 14px;
        line-height: 30px;
        width: 100%;
        color: #fff;
        display: block;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        transition: all .25s linear;
        &:hover{
            color: #ef493b;
        }
    }
    .bigNav {
        height:205px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    @media screen and (max-width: 1024px) {
        .leftMenuItemLink{
            font-size: 20px;
        }
        .subMenuItemLink{
            font-size: 13px;
        }
    }
    @media screen and (max-width: 567px) {
        .leftMenuItem{
            &.topButtons{
                display: block;
                .headerIcons{
                    display: flex;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .headerIcon{
                    margin-right: 25px;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
       width: 100%;
       padding-left: 15px;
       padding-right: 15px;
    }
}