.hiddenNav {
    display:none;
}
.leftNav {
    width: calc((100% - 1150px)/2 + 1150px*4/15 - 15px;
    width: calc((100% - 1150px)/2 + 1150px*4/15 - 15px;
    left: -33%;
    left: calc(0px - ((100% - 1150px)/2 + 1150px*4/15 - 15px));
    top: 0;
    opacity:1;
    height: 100%;
    position:fixed;
    background-color: #000000;
    border-bottom:1px solid #cdcccc;
    display:flex;
    justify-content: flex-end;
    z-index: 999;
    transition: left .25s linear;
    .leftNavContent {
        width:42%;
        min-width: 210px;
        .backMenu {
            height: 98px;
            text-align:right;
            padding:30px 10px 0 0;
            #backArrow {
                border:none;
                background:none;
                cursor: pointer;
            }
            
            img{
                width: 26px;
            }
            
        }
        #dropdown {
            background:none;
            outline:none;
            border:none;
            color:#fff;
        }
        .dropdownContent {
            display:none;
        }
        .leftNavItem {
            width: 100%;
            display: block;
            color:#fff;
            text-align: left;
            line-height: 60px;
            font-size: 24px;
            font-family: "DejaVu Sans";
            font-weight: 400;
            text-transform: capitalize;
            border-bottom: 1px solid #cdcccc;
            .leftNavSubitem {
                font-size:18px;
                line-height:30px;
                width:100%;
                color:#fff;
                display:block;
            }
        }
        .bigNav {
            height:205px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            
        }
        
    }
    &.leftNavSecondary{
        background-image: url(../images/mound-edward-bg.jpg);
        background-size: cover;
        background-position: top right;
    }
}


