
.wrapper {
    width:100%;
    margin:auto;
    background-color:#fff;
    position:relative;
}
main {
    width:50%;
    margin:auto;
    justify-content: center;
}
.content {
    width:68%;
    padding-left: 2%;
    margin-bottom:58px;
    margin:auto;
}