.poem {
    font-size: 14px;
    text-transform: uppercase;
    color:#2b2522;
    display:inline-block;
    font-weight: bold;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}
.redPoemAbout {
    width:250px;
    margin-bottom: -0.8em;
    color: #ef493b;
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
}
.author {
    color: #ef493b;
    font-size: 12px;
    text-transform: uppercase;
    display:block;
}
img {
    background-size: cover;
    max-width:100%;
}
.images {
    width:100%;
    height:170px;
    display:flex;
    justify-content: space-between;
    .imgContent {
        display: block;
        width:49%;
        height:100%;
        background-size: cover;
    }
}

