.crew {
    width:100%;
    
}
.crewItem {
    width:33%;
}
.crewText {
    // font-size: 42px;
    // line-height: 17px;
    // font-family: "Bembo";
    text-align: center;
    color: #141518;
    font-size:22px;
    text-transform: uppercase;
    margin-bottom:-3px;
}
.bordered {
    border-bottom: 1px solid #2b2522;
}
.member {
    width:100%;
    .memberPhoto {
        width:45%;
        height:150px;
        // background-color:#cccccc;
        background-size: cover;
        margin-top:10px;
        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .memberInfo {
        width:52%;
        a {
            text-decoration: none;
            color:#2b2522;
        }
        
    }
}
.redPoemTeam {
    width:410px;
    margin-bottom: -0.8em;
    color: #ef493b;
    font-style: italic;
    font-size: 24px;
}
