<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body class="leftNavActive">
	
	<div class="wrapper">
		@@include('../partials/components/header.html')
		@@include('../partials/components/leftNavSecondary.html')
		<main class="mainContent mainContainer">
			<div class="flexContainer">
				<div class="leftsideContent"></div>
						
				<div class="smallContent">
					<div class="pageTitle">FROM PIONEER BEGINNINGS TO CERTIFIED ORGANIC.</div>
					<div class="pageTitle red mb60">WE ARE MOUNT EDWARD</div>

              <div class="centeredInfo mb60">
                <div>
                    <span class="poem">our land is</span>
                    <a href="#"><span class="redPoem">Central Otago</span></a>
                </div>
                <div>
                    <span class="poem">our mountains are</span>
                   <a href="#"><span class="redPoem">The Remarkables</span></a>
                </div>
                <div>
                    <span class="poem">our river</span>
                   <a href="#"><span class="redPoem">the mighty Kawarau</span></a>
                </div>
                <div>
                    <span class="poem">our community</span>
                   <a href="#"><span class="redPoem">Otago</span></a>
                </div>
              </div>

              <div class="mb60">
                <a href="#"><img src="./assets/images/image2.jpg"></a>
              </div>
              <div class="redPoemAbout centeredInfo">
                <p>All driven by a desire to be
               progressive, individual and 
               good at what we do.
                </p>
              </div>
              <span class="author centeredInfo">DUNCAN FORSYTH, WINE MAKER</span>

					<div class="text mt80 mb60">
						<p>We are Bio gro certified organic, owning all our fruit	across 5 estate vineyards, all in Central Otago, collectively producing wines of provenance and pleasure alike.</p>
						<p>We enjoy breaking new ground, the first in New Zealand to make vermouth,	have wine on tap, early adopters of skin contact and minimal sulphur, we continue to seek out the unique. Our choices, style and techniques reflect, we believe, a growing demand for individual and authentic wine.</p>
						<p>Traditional winemaking, a healthy regard to science, all without a rulebook telling us what to do or how to look. The less you do the better the wine is a truism that guides us via minimal intervention such as no fining, filtration, aids or additives.</p>
						<p>Our motto, Grow your Own Way, is with a care to all around you, surround yourself with people who think the same and enjoy yourselves. </p>
						<p>Wine, people, place are all part of this equation, reflected in how we grow, the places you see our wine, our community involvement to what you see in front of you.</p>
						<p>Talk to us, visit us, pick up a bottle and see how we all fit together.
						</p>
					</div>

              <div class="images mb60">
                <div class="imgContent" style="background-image: url(./assets/images/image2.jpg)"></div>
                <div class="imgContent" style="background-image: url(./assets/images/image2.jpg)"></div>
              </div>

				</div>

				<div class="rightSideContent"></div>
			</div>
		</main>
		@@include('../partials/components/footer.html')
	</div>

	@@include('../partials/scripts/common.html')

</body>

</html>