<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<!-- .woddenLeftNav for the pages where the menu is always active -->
<body class="woddenLeftNav">
	
	<div class="wrapper">
		@@include('../partials/components/header.html')
    @@include('../partials/components/leftNav.html')

		<main class="mainContent mainContainer">
			<div class="flexContainer">
				<div class="leftsideContent"></div>
						
				<div class="smallContent">
					<div class="pageTitle">
            FROM PIONEER BEGINNINGS TO CERTIFIED ORGANIC.
            <br>
            <span class="red">WE ARE MOUNT EDWARD</span>
          </div>

          <div class="centeredInfo mb60 mt30">
            <div>
                <span class="poem">our land is</span>
                <a href="#"><span class="redPoem">Central Otago</span></a>
            </div>
            <div>
                <span class="poem">our mountains are</span>
               <a href="#"><span class="redPoem">The Remarkables</span></a>
            </div>
            <div>
                <span class="poem">our river</span>
               <a href="#"><span class="redPoem">the mighty Kawarau</span></a>
            </div>
            <div>
                <span class="poem">our community</span>
               <a href="#"><span class="redPoem">Otago</span></a>
            </div>
          </div>

          <div class="mb30">
            <a href="#"><img src="./assets/images/image2.jpg"></a>
          </div>

          <div class="text">
            <p>
              In 1997 as a  Central Otago pioneer founded winery, we started small, making one wine as a family business, now, decades later, we are still a family business, thriving, with our own vineyards, style and ethos. 
            </p>
            <p>
              Our heart is about making wines that are delicious, textural, subtle, moreish wines. To keep the head happy we grow unique and small batch wines from single vineyard sites, Pinot Noir to Gamay, Chardonnay to Chenin and much more.
            </p>
          </div>
          <div class="redPoemAbout centeredInfo mt60">
            <p>
              All driven by a desire to be progressive, individual and good at what we do.
            </p>
          </div>
          <span class="author centeredInfo">DUNCAN FORSYTH, WINE MAKER</span>

					<div class="text mt60 mb60">
						<p>We are Bio gro certified organic, owning all our fruit	across 5 estate vineyards, all in Central Otago, collectively producing wines of provenance and pleasure alike.</p>
						<p>We enjoy breaking new ground, the first in New Zealand to make vermouth,	have wine on tap, early adopters of skin contact and minimal sulphur, we continue to seek out the unique. Our choices, style and techniques reflect, we believe, a growing demand for individual and authentic wine.</p>
						<p>Traditional winemaking, a healthy regard to science, all without a rulebook telling us what to do or how to look. The less you do the better the wine is a truism that guides us via minimal intervention such as no fining, filtration, aids or additives.</p>
						<p>Our motto, Grow your Own Way, is with a care to all around you, surround yourself with people who think the same and enjoy yourselves. </p>
						<p>Wine, people, place are all part of this equation, reflected in how we grow, the places you see our wine, our community involvement to what you see in front of you.</p>
						<p>Talk to us, visit us, pick up a bottle and see how we all fit together.
						</p>
					</div>

              <div class="images mb60">
                <div class="imgContent" style="background-image: url(./assets/images/image2.jpg)"></div>
                <div class="imgContent" style="background-image: url(./assets/images/image2.jpg)"></div>
              </div>

				</div>

				<div class="rightSideContent"></div>
			</div>
		</main>
		@@include('../partials/components/footer.html')
	</div>

	@@include('../partials/scripts/common.html')

</body>

</html>