<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
	<div class="wrapper">
		@@include('../partials/components/header.html')
		@@include('../partials/components/leftNav.html')
		<main class="mainContent mainContainer">
			<div class="flexContainer">
							
				<!-- for more modularity, I've created some helper classes: ex: mt80 (margin-top: 80px) -->
				<div class="smallContent">
					<h1 class="pageTitle">
						CELLAR CLUB . 
						<br>
						<span class="red">EXCLUSIVE PRICING AND ACCESS TO THE BEST WINES</span>
					</h1>
					<div class="text mt30">
						<p>
							Join the Mount Edward Cellar Club – a group of wine friends and receive a range of perks including exclusive pricing and access.  The club keeps your convenience in mind, simply select a level that suits you and 6 or 12 wines will be sent straight to your door biannually (in June and November). The wines can be of your choosing or hand selected by our winemaker, Duncan Forsyth. 
						</p>
						<p>
							Free shipping for wine club members in New Zealand. 
						</p>
					</div>
				</div>

				<div class="content75p flexContainer cellarClubCols">
					<div class="col50">
						<div class="text">
							<p class="red">Mount Edward Membership, <em>12 bottles annually</em></p>
							<ul>
								<li>6 bottles twice a year (we ship in June and November) OR 12 bottles once a year (in November) </li>
								<li>10% off on all wines </li>
								<li>Cellar access to limited edition wines such as Mount Edward Gamay plus exclusive rights to our first edition projects such as the Mount Edward Brandy </li>
								<li>Complementary barrel tastings when you come into the cellar door</li>
								<li>Access to wines of limited supply plus first access to all special edition wines and projects </li>
							</ul>
						</div>

					</div>
					<div class="col50">
						<div class="text">
							<p class="red">Ted Membership, <em>12 bottles annually</em></p>
							<ul>
								<li> 12 bottles twice a year (we ship in June and November)  </li>
								<li> 15% discount on all wines </li>
								<li> Cellar access to limited edition wines such as Mount Edward Gamay plus exclusive rights to our first edition projects such as the Mount Edward Brandy </li>
								<li> Complementary barrel tastings when you come into the cellar door </li>
								<li> Access to wines of limited supply plus first access to all special edition wines and projects  </li>
								<li> Access our personal, direct from barrel bottling runs. Taste something you like during your barrel tasting? We can bottle your own wine for you! This is exclusively available to Mount Edward Cellar Club members </li>
								<li> Ability to book our tasting room and kitchen for private functions </li>
							</ul>
						</div>
					</div>
				</div>

				<div class="smallContent mb80">

					<h6 class="genericTitle">
						<span class="red"> YES, I WANT TO BE IN IT . </span>
					</h6>
					<div class="text">
						<p>By joining I agree to the general <a href="#">terms and conditions</a>. To sign up, you will have to enter your credit card details however you will only be charged once your order is placed. </p>
					</div>
					<form action="">
						<div class="flexContainer minMarg mt30">
							<div class="col50 formItem">
								<input type="text" class="formElement" placeholder="FIRST NAME">
							</div>
							<div class="col50 formItem">
								<input type="text" class="formElement" placeholder="LAST NAME">
							</div>
							<div class="col50 formItem">
								<input type="email" class="formElement" placeholder="EMAIL">
							</div>
							<div class="col50 formItem">
								<input type="text" class="formElement" placeholder="PHONE">
							</div>
							<div class="col100 formItem">
								<input type="text" class="formElement" placeholder="SHIPPING ADRESS">
							</div>
						</div>

						<p class="genericTitle mt30">
							OPTIONS:
						</p>

						<div class="labelRadioRow">
							<input type="radio" id="radio1" name="optionsRadio">
							<label class="labelRadio" for="radio1">
								<p class="red"><em>Ted Membership</em></p>
								<p>6 bottles twice a year (12 bottles total annually) </p>
							</label>
						</div>
						<div class="labelRadioRow">
							<input type="radio" id="radio2" name="optionsRadio">
							<label class="labelRadio" for="radio2">
								<p class="red"><em>Ted Membership</em></p>
								<p>12 bottles once a year </p>
							</label>
						</div>
						<div class="labelRadioRow">
							<input type="radio" id="radio3" name="optionsRadio">
							<label class="labelRadio" for="radio3">
								<p class="red"><em>Mount Edward Membership. </em></p>
								<p>12 bottles twice a year (24 bottles total annually)</p>
							</label>
						</div>

						<p class="genericTitle mt60">
							WINE SELECTION:
						</p>

						<div class="wineSelection mb20">

							<div class="wineSelectionItem">
								<h3 class="wineTitle">
									Pinot Noir
								</h3>
								<div class="winePrice">
									$30.30
								</div>
							</div>

							<div class="wineSelectionItem">
								<h3 class="wineTitle">
									Ted Pinot
								</h3>
								<div class="winePrice">
									$39.30
								</div>
							</div>

							<div class="wineSelectionItem">
								<h3 class="wineTitle">
									Mount Edward Pinot Noir
								</h3>
								<div class="winePrice">
									$39.30
								</div>
							</div>

							<div class="wineSelectionItem">
								<h3 class="wineTitle">
									Riesling
								</h3>
								<div class="winePrice">
									$69.30
								</div>
							</div>

							<div class="wineSelectionItem">
								<h3 class="wineTitle">
									Ted Riesling
								</h3>
								<div class="winePrice">
									$30.30
								</div>
							</div>

							<div class="wineSelectionItem">
								<h3 class="wineTitle">
									Mount Edward Riesling
								</h3>
								<div class="winePrice">
									$99.90
								</div>
							</div>

							<div class="wineSelectionItem">
								<h3 class="wineTitle">
									<label>
										<input type="checkbox">
										<span>Thanks, just send me the winemaker selection for my nominated membership option.</span>
									</label>
								</h3>
								<div class="winePrice">
									$99.90
								</div>
							</div>

						</div>
						
						<div class="formItem w100p">
							<textarea class="formElement" placeholder="I WOULD LIKE THE FOLLOWING WINES..."></textarea>
						</div>

						<button class="button redButton formButtonSubmit" type="submit">SEND</button>
					</form>

				</div>
			</div>
		</main>
		@@include('../partials/components/footer.html')
	</div>

	@@include('../partials/scripts/common.html')

 
</body>

</html>