<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
	<div class="wrapper">
		@@include('../partials/components/header.html')
		@@include('../partials/components/leftNav.html')
		<main class="mainContent mainContainer">
			<div class="flexContainer">
				
				<div class="leftsideContent"></div>

				<div class="smallContent">
					<h1 class="pageTitle">
						Stockists .
						<br>
						<span class="red">
							PLACES WHERE YOU CAN BUY OUR WINES
						</span>
					</h1>
					<div class="text mt30">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid veritatis officia quaerat, eveniet dolorum doloremque impedit facilis consequatur atque deserunt culpa, nesciunt dolore omnis optio ducimus eligendi ullam nulla esse.
						</p>
					</div>

					
				</div>

				<div class="rightSideContent"></div>

			</div>
		</main>
		@@include('../partials/components/footer.html')
	</div>

	@@include('../partials/scripts/common.html')

 
</body>

</html>