<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
	<div class="wrapper">
		@@include('../partials/components/header.html')
		@@include('../partials/components/leftNav.html')
		<main class="mainContent mainContainer">
			<div class="flexContainer">
				
				<div class="leftsideContent"></div>

				<div class="smallContent">
					<h1 class="pageTitle">
						Stockists .
						<br>
						<span class="red">
							PLACES WHERE YOU CAN BUY OUR WINES
						</span>
					</h1>
					<div class="text mt30">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid veritatis officia quaerat, eveniet dolorum doloremque impedit facilis consequatur atque deserunt culpa, nesciunt dolore omnis optio ducimus eligendi ullam nulla esse.
						</p>
					</div>

					<h6 class="sectionTitle mt80">
						<span>NEW ZEALAND</span>
					</h6>

					<div class="text stockistBlock">
						<p class="proxima noMgB">
							<strong>Stockist Name One</strong>
							<br>
						</p>
						<p>
							Physical address and/or <a href="#">web address</a>
						</p>

						<p class="proxima noMgB">
							<strong>Stockist Name Two</strong>
							<br>
						</p>
						<p>
							Physical address and/or <a href="#">web address</a>
						</p>
					</div>

					<h6 class="sectionTitle mt80">
						<span>AUSTRALIA</span>
					</h6>

					<div class="text stockistBlock">
						<p class="proxima noMgB">
							<strong>Stockist Name One</strong>
							<br>
						</p>
						<p>
							Physical address and/or <a href="#">web address</a>
						</p>

						<p class="proxima noMgB">
							<strong>Stockist Name Two</strong>
							<br>
						</p>
						<p>
							Physical address and/or <a href="#">web address</a>
						</p>
					</div>

					<h6 class="sectionTitle mt80">
						<span>COUNTRY</span>
					</h6>

					<div class="text stockistBlock mb80">
						<p class="proxima noMgB">
							<strong>Stockist Name One</strong>
							<br>
						</p>
						<p>
							Physical address and/or <a href="#">web address</a>
						</p>

						<p class="proxima noMgB">
							<strong>Stockist Name Two</strong>
							<br>
						</p>
						<p>
							Physical address and/or <a href="#">web address</a>
						</p>
					</div>

				</div>

				<div class="rightSideContent"></div>

			</div>
		</main>
		@@include('../partials/components/footer.html')
	</div>

	@@include('../partials/scripts/common.html')

 
</body>

</html>