<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body class="leftNavActive">

	<div class="wrapper">
    	@@include('../partials/components/header.html')
    	@@include('../partials/components/leftNavSecondary.html')

    	<main class="mainContent mainContainer">
			<div class="flexContainer">
				<div class="leftsideContent"></div>
    			<div class="smallContent">
    				<div class="pageTitle">TEAM</div>
    				<div class="pageTitle red mb40">THIS IS WHO WE ARE</div>
    				<div class="text mb60">
    					<p>As the Wandering Palate aka Curtis Marsh, who whilst awarding Mount Edward Red Wine of the Year, paraphrased it:</p>
    				</div>

    				<div class="redPoem centeredInfo">
    					<span class="spanBLock">Mount Edward belongs to a wild fermenting gaggle</span>
    					<span class="spanBLock">of Central Otago vignerons that have evolved like a</span>
    					<span class="spanBLock">Band of Brothers; all to a varying degree recalcitrant,</span>
    					<span class="spanBLock">insubordinate, revolutionist, mischievous, ingenious,</span>
    					<span class="spanBLock">jocular and witty but in the Neo-Darwinism of the</span>
    					<span class="spanBLock"> New Zealand wine industry, they are the dynamic –</span>
    					<span class="spanBLock">the avant-garde.</span>

    				</div>

    				<div class="crew mb20 mt60 flexSB">
    					<span class="crewItem bordered"></span>
    					<span class="crewItem crewText">meet the crew</span>
    					<span class="crewItem bordered"></span>
    				</div>

    				<div class="member flexSB mb60">
    					<div class="memberPhoto">
    						<!-- <img src=""> -->
    					</div>
    					<div class="memberInfo">
    						<span class="pageTitle">John Buchanan</span>
    						<span class="pageTitle mb10">Proprietor</span>
    						<div class="text">
    							<p>John, an Otago native, focuses much of his time and energy in creating people based projects that resonate with our environment, creativity and social sustainability. Mount Edward’s tenets of organics, individualism and community wellbeing are part of our DNA due to him. We are a business that cares about growing our own way as well as our impact on people and place due to his leadership and ethos.</p>
    						</div>
    					</div>
    				</div>

    				<div class="member flexSB mb60">
    					<div class="memberPhoto">
    						<!-- <img src=""> -->
    					</div>
    					<div class="memberInfo">
    						<span class="pageTitle">Duncan Forsyth</span>
    						<span class="pageTitle mb10">slightly smaller cheese than John</span>
    						<div class="text">
    							<p>A long time Central Otago winemaker, managing wines, business, brands and	endeavouring to put our own creative stamp on all whilst doing so. In seeing our	breadth of wines, how we operate and the sense that there is only one Mount Edward; everybody else is taken so choose your own style, this is Duncan’s role, hope you like it.</p>
    						</div>
    					</div>
    				</div>

    				<div class="member flexSB mb60">
    					<div class="memberPhoto">
    						<!-- <img src=""> -->
    					</div>
    					<div class="memberInfo">
    						<span class="pageTitle">Tim Austin Moorhouse</span>
    						<span class="pageTitle mb10">grapes and vines and things </span>
    						<div class="text">
    							<p>Tim manages our organic programme, our vineyards and our lands. Extremely capable and aware of our environmental responsibilities Tim he is a legend of the vines with the ability to fix any problem with some wire and duct tape if needed. He actually looks a little more like Ghe Guevara,	at one with the people, at one with the land, that sort of thing and at the end of the day is one of the reasons our wines feel so good. </p>
    						</div>
    					</div>
    				</div>
    				<div class="member flexSB mb60">
    					<div class="memberPhoto">
    						<!-- <img src=""> -->
    					</div>
    					<div class="memberInfo">
    						<span class="pageTitle">Andrew Baker</span>
    						<span class="pageTitle mb10">wines and projects and anything</span>
    						<div class="text">
    							<p>Andrew Barry Berry Baker our	Red Beard Organ Player from Oregon is on our winemaking team now helping run and drive the Mount Edward winery. A professional player, we have only recently discovered his skills,	ranging from consummate organ player to a lover of things natural. Andrew is bringing a sense of style and balance to within our walls. Maude Wines his proving ground and now lucky for us Central Otago his new home. </p>
    						</div>
    					</div>
    				</div>
    				<div class="member flexSB mb60">
    					<div class="memberPhoto">
    						<!-- <img src=""> -->
    					</div>
    					<div class="memberInfo">
    						<span class="pageTitle">Kaylene Taylor</span>
    						<span class="pageTitle mb10">EVERYTHING</span>
    						<div class="text">
    							<p>Who’s the boss, Kaylene Taylor is the boss! Running our office as smooth as the V8 she drives we have become a well oiled machine thanks to Kaylene. Want something done, organised, tasted or sent? only one person to turn to and that is Kaylene!
    								</p>
    						</div>
    					</div>
    				</div>

    			</div>
				<div class="rightSideContent"></div>
			</div>
    	</main>

	   @@include('../partials/components/footer.html')
	</div>

	@@include('../partials/scripts/common.html')

</body>

</html>