.wrapper {

}
.flexSB {
    display:flex;
    justify-content: space-between;
}
.flexCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    &:active {
        color: #ef493b;
    }
}
.pageTitle {
    font-size: 20px;
    line-height: 1.4;
    color: #2b2522;
    text-transform: uppercase;
    display:block;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    &:before{
        content: "";
        width: 75px;
        height: 2px;
        background: #000;
        display: block;
        margin-bottom: 35px;
    }
    @media screen and (max-width: 567px) {
        font-size: 16px;
    }
}
.red {
    color: #ef493b;
}
.redI {
    color: #ef493b;
    font-style: italic;

}
.text {
    font-size: 14px;
    line-height: 20px;
    color: #2b2522;
    a{
        color: #ef493b;
        text-decoration: underline;
    }
}
.redPoem {
    color: #ef493b;
    font-style: italic;
    font-size: 26px;
    font-weight: 600;
    @media screen and (max-width: 567px) {
        font-size: 20px;
    }
}
.centeredInfo {
    margin-left:70px;
    @media screen and (max-width: 480px) {
        margin-left: 0;
    }
}
.spanBlock {
    display:block;
}