.wrapper {
    font-family: 'Katibeh', cursive;
}
.flexSB {
    display:flex;
    justify-content: space-between;
}
.flexCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}
.mb10 {
    margin-bottom:10px;
}
.mb20 {
    margin-bottom:20px;
}
.mb40 {
    margin-bottom:40px;
}
.mb60 {
    margin-bottom:60px;
}
.mb100 {
    margin-bottom:100px;
}
.mt40 {
    margin-top:40px;
}
.mt60 {
    margin-top:60px;
}
.mt80 {
    margin-top:80px;
}
a {
    text-decoration: none;
    &:active {
        color: #ef493b;
    }
}
.pageTitle {
    font-size: 20px;
    color: #2b2522;
    text-transform: uppercase;
    display:block;
    // font-size: 29px;
    // font-family: "Gotham";
    // font-weight: bold;
}
.red {
    color: #ef493b;
}
.redI {
    color: #ef493b;
    font-style: italic;

}
.text {
    font-size:16px;
    line-height: 20px;
    color: #2b2522;
    // font-size: 29px;
    // font-family: "Bembo";
    // font-weight: bold;
}
.redPoem {
    color: #ef493b;
    font-style: italic;
    font-size: 24px;
}
.centeredInfo {
    margin-left:70px;
}
.spanBlock {
    display:block;
}