<footer>
    <div class="footerContent flexSB">
        <div class="address footerItem">
            <span>MOUNT EDWARD</span>
            <span>Mount Edward 34 Coalpit Rd, Gibbston, Queenstown 9371</span>
            <span>Cellar Door by Appointment, Call 03 442 6113</span>
        </div>
        <div class="logo footerItem">
            <span class="social flexCenter"><i class="fab fa-instagram"></i></span>
            <span class="social flexCenter"><i class="fab fa-facebook-f"></i></span>
            <span class="logoText flexCenter">BIO GRO
                LOGO</span>
            <span class="flexCenter logoText">LUMA</span>
        </div>
        <div class="copyright footerItem">
            <span>© MOUNT EDWARD 2019. CREATED BY FLUID</span>
        </div>
    </div>
</footer>