<header class="flexSB mainContainer">
    <div class="mobileButton headerItem" id="mobileButton" onclick="showLeftNav()">
        <a href="javascript:void(0);">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="headerItem logo">
        <img src="./assets/images/logo.svg">
    </div>
    <div class="headerIcons">
        <div class="headerIcon userIcon">
            <a href="#"><img src="./assets/images/user.svg" alt=""></a>
            <div class="badge">
                
            </div>
        </div>
        <div class="headerIcon userIcon">
            <a href="#"><img src="./assets/images/cart.svg" alt=""></a>
            <div class="badge">
                
            </div>
        </div>
        <div class="headerIcon userIcon">
            <a href="#"><img src="./assets/images/search.svg" alt=""></a>
            <div class="badge">
                
            </div>
        </div>
    </div>
</header>