<header class="flexSB">
    <div class="mobileButton headerItem" id="mobileButton">
        <a href="#menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="headerItem logo">
        <img src="./assets/images/Logo1.jpg">
    </div>
    <div class="login flexSB headerItem">
        <span><i class="far fa-user"></i></span>
        <span><i class="fas fa-shopping-cart"></i></span>
        <span><i class="fas fa-search"></i></span>

    </div>
</header>