<header class="flexSB mainContainer">
    <div class="mobileButton headerItem" id="mobileButton" onclick="showLeftNav()">
        <a href="javascript:void(0);">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="headerItem logo">
        <a href="/"><img src="./assets/images/logo.svg"></a>
    </div>
    <div class="headerIcons">
        <div class="headerIcon">
            <a href="#">
                <img src="./assets/images/user.svg" alt="">
                <span class="badge userBadge">
                    <span class="userBadgeSymbol"></span>
                </span>
            </a>
        </div>
        <div class="headerIcon">
            <a href="#">
                <img src="./assets/images/cart.svg" alt="">
                <span class="badge cardBadge"> 16 </span>
            </a>
        </div>
        <div class="headerIcon">
            <a href="#"><img src="./assets/images/search.svg" alt=""></a>
        </div>
    </div>
</header>