<nav class="leftNav">
    <div class="leftNavContent">
        <div class="backMenu">
            <button id="backArrow" onclick="toggleMenuLeft()"><span><i class="fas fa-long-arrow-alt-left"></i></span></button>
        </div>
        <div class="leftNavItem">
            <div class="leftNavSubitem">Mount Edward</div>
            <div class="leftNavSubitem">svgs</div>
            <div class="leftNavSubitem"></div>
            <div class="leftNavSubitem"></div>
        </div>
        <div class="leftNavItem">shop</div>
        <div class="leftNavItem">cellar club</div>
        <div class="leftNavItem">the library</div>
        <div class="leftNavItem">contact</div>
    </div>
</nav>