<nav class="leftNav leftNavSecondary">
    <div class="leftNavContent">
        <div class="backMenu">
            <span class="backArrow" onclick="hideLeftNav()">
                <img src="./assets/images/hide-arrow.svg" alt="">
            </span>
        </div>
        <ul class="leftMenu">
            <li class="leftMenuItem">
                <a href="#" class="leftMenuItemLink">Mount Edward</a>
                <ul class="subMenu">
                    <li class="subMenuItem">
                        <a href="./aboutUs.html" class="subMenuItemLink">About us</a>
                    </li>
                    <li class="subMenuItem">
                        <a href="./team.html" class="subMenuItemLink">Team</a>
                    </li>
                    <li class="subMenuItem">
                        <a href="./vineyards.html" class="subMenuItemLink">Vineyards</a>
                    </li>
                    <li class="subMenuItem">
                        <a href="./wines.html" class="subMenuItemLink">Wines</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>