<nav class="leftNav" id="leftNav">
    <div class="leftNavContent">
        <div class="backMenu">
            <span class="backArrow" onclick="hideLeftNav()">
                <img src="./assets/images/hide-arrow.svg" alt="">
            </span>
        </div>

        <ul class="leftMenu">
            <li class="leftMenuItem">
                <a href="javascript: void(0);" class="leftMenuItemLink hasSubmenu">Mount Edward</a>
                <ul class="subMenu">
                    <li class="subMenuItem">
                        <a href="./aboutUs.html" class="subMenuItemLink">About us</a>
                    </li>
                    <li class="subMenuItem">
                        <a href="./team.html" class="subMenuItemLink">Team</a>
                    </li>
                    <li class="subMenuItem">
                        <a href="./vineyards.html" class="subMenuItemLink">Vineyards</a>
                    </li>
                    <li class="subMenuItem">
                        <a href="./wines.html" class="subMenuItemLink">Wines</a>
                    </li>
                </ul>
            </li>
            <li class="leftMenuItem">
                <a href="./shop.html" class="leftMenuItemLink">Shop</a>
            </li>
            <li class="leftMenuItem">
                <a href="./cellarClub.html" class="leftMenuItemLink">Cellar club</a>
            </li>
            <li class="leftMenuItem">
                <a href="./blog.html" class="leftMenuItemLink">The library</a>
            </li>
            <li class="leftMenuItem">
                <a href="./contact.html" class="leftMenuItemLink">Contact</a>
            </li>
            <li class="leftMenuItem topButtons">
                <div class="headerIcons">
                    <div class="headerIcon">
                        <a href="#">
                            <img src="./assets/images/user-white.svg" alt="">
                            <span class="badge userBadge" style="display: none;">
                                <span class="userBadgeSymbol"></span>
                            </span>
                        </a>
                    </div>
                    <div class="headerIcon">
                        <a href="#">
                            <img src="./assets/images/cart-white.svg" alt="">
                            <span class="badge cardBadge" style="display: none;"> 16 </span>
                        </a>
                    </div>
                    <div class="headerIcon">
                        <a href="#"><img src="./assets/images/search-white.svg" alt=""></a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</nav>