<nav class="leftNav leftNavSecondary" id="leftNav">
    <div class="leftNavContent">
        <div class="backMenu">
            <span id="backArrow" onclick="hideLeftNav()">
                <img src="./assets/images/hide-arrow.svg" alt="">
            </span>
        </div>
        <button class="leftNavItem" id="dropdown" onclick="dropdownMenu()">Mount Edward</button>
        <div class="leftNavItem dropdownContent">
            <a class="leftNavSubitem" href="./aboutUs.html">about us</a>
            <a class="leftNavSubitem" href="./team.html">team</a>
            <a class="leftNavSubitem" href="./vineyards.html">vineyards</a>
            <a class="leftNavSubitem" href="./wines.html">wines</a>
        </div>
    </div>
</nav>