<nav class="leftNav" id="leftNav">
    <div class="leftNavContent">
        <div class="backMenu">
            <button id="backArrow" onclick="hideLeftNav()"><span><i class="fas fa-long-arrow-alt-left"></i></span></button>
        </div>
        <button class="leftNavItem" id="dropdown" onclick="dropdownMenu()">Mount Edward</button>
        <div class="leftNavItem dropdownContent">
            <a class="leftNavSubitem" href="./aboutUs.html">about us</a>
            <a class="leftNavSubitem" href="./team.html">team</a>
            <a class="leftNavSubitem" href="./vineyards.html">vineyards</a>
            <a class="leftNavSubitem" href="./wines.html">wines</a>
        </div>
        <a class="leftNavItem" href="./shop.html">shop</a>
        <a class="leftNavItem" href="./cellarClub.html">cellar club</a>
        <a class="leftNavItem" href="./library.html">the library</a>
        <a class="leftNavItem" href="./contact">contact</a>
    </div>
</nav>